<%= render "shared/header" %>

<div class="account-container">
  <div class="card">
    <div class="card-text-color card-header">
      <h1 class="card-title text-center">Profile Information</h1>
    </div>
    <div class="card-body">
      <div class="row mb-5">
        <div class="col text-start">
          <%= link_to "Account", user_path(current_user), class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
        </div>
        <div class="col text-end">
          <%= link_to "Profile", profile_path, class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
        </div>
      </div>

      <div class="text-center mb-3">
        <% if @user.avatar? %>
          <div class="mb-4">
            <%= image_tag current_user.avatar.url %>
          </div>
        <% else %>
          <div class="mb-4">
            <%= image_tag "default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png", size: "60x60" %>
          </div>
        <% end %>
        <p><strong>Username:</strong> <%= current_user.name %></p>
        <p><strong>Bio:</strong> <%= current_user.bio %></p>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-3">
        <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-sm  btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>