<%= render "shared/header" %>

<div class="container-sm" style="margin-bottom: 160px;">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-text-color card-header">
          <h5 class="card-title text-center">New registration of facility</h5>
        </div>
        <div class="card-body">
          <p class="text-center">* Required Fields</p>
          <%= form_with model: @room, url: rooms_path, multipart: true do |f| %>

            <div class="form-group">
              <%= f.label :name, "* Name of facility", class: "form-label" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :detail, "* Facility details", class: "form-label" %>
              <%= f.text_area :detail, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :fee, "* Fee", class: "form-label" %>
              <%= f.text_field :fee, class: "form-control" %>
              </div>
            <div class="form-group">
              <%= f.label :address, "* Address", class: "form-label" %>
              <%= f.text_field :address, class: "form-control" %>
            </div>
            <div class="form-group mb-4">
              <%= f.label :avatar, class: "form-label" %>
              <%= f.file_field :avatar, class: "form-control" %>
            </div>

            <div class="col-6 mx-auto">
              <div class="d-grid gap-2">
                <%= f.submit "Save", class: "btn btn-sm  btn-outline-secondary" %>
                <%= link_to 'Cancel', :back, class: "btn btn-sm btn-outline-secondary mt-2" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>